<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo">
                <a href=""><img src="static/images/thereal.jpg" alt=""></a>
            </div>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    
    </div>

    <div class="text">
        <h1>Home Page</h1>
    </div>
    <script src="static/js/script.js"></script>

</body>
</html>